.slide-1 {
  background-color: rgba(70, 15, 55, 0.2); }

.slide-2 {
  background-color: rgba(90, 30, 85, 0.3); }

.slide-3 {
  background-color: rgba(110, 45, 115, 0.4); }

.slide-4 {
  background-color: rgba(130, 60, 145, 0.5); }

.slide-5 {
  background-color: rgba(150, 75, 175, 0.6); }

.slide-6 {
  background-color: rgba(170, 90, 205, 0.7); }
